body {
    min-height: 100vh;
    background-color: #757f9a;
    background-image: linear-gradient(147deg, #757f9a 0%, #d7dde8 100%);
}

#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'Uploaded image result';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}

/* Table styling */

.styled-table {
    margin: auto;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    max-width: 400px;
    border: 1px solid #dddddd;
    background-color: #8d96ad;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    font-weight: bold;
    background-color: #009879;
    color: white;
    text-align: left;
}

.styled-table tbody tr {
    border: 1px solid #dddddd;
    color: white;
}

/* Map */

#map {
    margin: auto;
    height: 380px;
    width: 500px;
}
