{% extends 'base.html' %}
{% block content %}
<div class="row py-4">
    <div class="col-lg-4 mx-auto">
        <form action="/locate" enctype="multipart/form-data" method="post" id="form">
            <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                <input id="upload" type="file" onchange="readURL(this);" name="image"
                       accept=".jpg, .png, .bmp, .eps, .gif, .im, .msp, .pcx, .ppm, .tiff" class="form-control border-0"
                       multiple>
                <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>
                <div class="input-group-append">
                    <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i
                            class="fa fa-cloud-upload mr-2 text-muted"></i><small
                            class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
                </div>
            </div>
            <div class="text-white text-center">
                <button type="submit" class="btn rounded-pill btn-outline-light btn-lg" name="action" value="locate">
                    Locate
                </button>
                <button type="submit" class="btn rounded-pill btn-outline-light btn-lg" name="action" value="details">
                    Details
                </button>
            </div>
            <div class="text-white text-center">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <br/>
                {% for message in messages %}
                <strong>Error: {{ message }}</strong>
                {% endfor %}

                {% endif %}
                {% endwith %}
            </div>
            <br>
        </form>
        <!-- Uploaded image area-->
        <div class="image-area mt-4"><img id="imageResult" src="#" alt=""
                                          class="img-fluid rounded shadow-sm mx-auto d-block"></div>
    </div>
</div>
{% endblock %}
